.caja1{
    position: relative;
    margin-left: 50px;
    height: 100px;
    width: 100px;
    background-color: #35d4ca;
}

.caja2{
    height: 100px;
    width: 100px;
    background-color: #507beb;
}