#container{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 50px);
    gap: 2px;
}

.caja{
    text-align: center;
    align-content: center;
    background-color: #6a7c88;
    color: white;
}