@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
    color: black;
}

header{
    background-color: blueviolet;
    border: 3px solid  yellow;
    border-radius: 1em;
}

header h1 {
    text-align: center;
    color: antiquewhite;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav ul li{
    display: inline-block;
    justify-content: space-between;
}

nav ul li a{
    margin: 10px;
    padding: 10px;
    color: bisque;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: darkturquoise;
}

footer{
    background-color: blueviolet;
    border: 3px solid  yellow;
    border-radius: 1em;
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

footer p{
    color: antiquewhite;
}

.proyectos{
    text-align: center;
    margin-left: 20px;
}

.project{
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.project img{
    width: 474px;
    height: 221px;
}

.sobre_mi{
    margin-left: 20px;
}

.content{
    background-color: orange;
    border: 3px solid yellow;
    border-radius: 1em;
    margin: 10px;
}

